.services {
  position: relative;
  padding-top: 100px;
  background-color: #faf8fb;

  @include tablet-width-only {
    padding-top: 75px;
  }

  @include mobile-width-only {
    padding-top: 65px;
  }
}
.double-line {
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: -24px;
    width: 2px;
    height: 83px;
    background-color: #7f38bd;

    @include mobile-width-only {
      display: none;
    }
  }
  &:before {
    left: 50%;
    transform: translateX(-50%);
  }
  &:after {
    top: -71px;
    left: 49%;
  }
}
.services .container {
  position: relative;
}
.services__title {
  max-width: 1170px;
  margin-right: auto;
  margin-bottom: 80px;
  padding-left: 15px;
  margin-left: auto;

  @include tablet-width-only {
    max-width: 750px;
    margin-bottom: 60px;
  }

  @include mobile-width-only {
    max-width: 320px;
    margin-bottom: 40px;
  }
}
.large-format-printing {
  padding-bottom: 125px;

  @include mobile-width-only {
    margin-bottom: 30px;
  }
}
.large-format-printing__title {
  position: relative;
  margin-bottom: 50px;
  z-index: 1;

  &:after {
    content: '1';
    color: #faf8fb;
  }

  @include tablet-width-only {
    margin-bottom: 65px;
  }

  @include mobile-width-only {
    margin-bottom: 45px;
  }
}
.large-format-printing__title,
.large-format-printing__list,
.request-consultation {
  width: 41.491%;

  @include tablet-width-only {
    width: auto;
  }

  @include mobile-width-only {
    width: auto;
  }
}
.large-format-printing__list {
  margin-bottom: 75px;
  margin-left: 20px;
  list-style-type: disc;

  @include tablet-width-only {
    margin-bottom: 40px;
  }

  @include mobile-width-only {
    margin-bottom: 35px;
  }
}
.large-format-printing__item {
  font-size: 14px;
  color: #5e606a;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.request-consultation {
  display: flex;
  height: 120px;
  padding: 33px 37px 36px 37px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #883eca;
  box-shadow: 0 23px 32px rgba(81, 8, 86, 0.33);
  color: #fff;

  @include mobile-width-only {
    height: 180px;
    padding: 30px 25px;
    flex-direction: column;
  }
}
.request__text {
  display: flex;
  flex-direction: column;

  @include tablet-width-only {
    flex-direction: row;
  }

  @include mobile-width-only {
    margin-bottom: 30px;
  }
}
.request-consultation__have-questions {
  font-family: $open-sans-italic;
  font-size: 13px;

  @include tablet-width-only {
    margin-right: 35px;
  }
}
.request-consultation__message {
  font-family: $open-sans-semibold;
}
.request-consultationon__button {
  width: 171px;
  height: 48px;
  margin-right: 0;

  @include tablet-width-only {
    width: 248px;
    margin-bottom: 0;
  }

  @include mobile-width-only {
    margin-bottom: 0;
  }
}
.slider-large-format-printing {
  position: absolute;
  top: 0;
  right: 0;
  width: 570px;
  height: 564px;
  background-image: url("../img/services/slider-desktop.jpg");
  background-repeat: no-repeat;

  @include tablet-width-only {
    position: static;
    width: 735px;
    height: 562px;
    margin-bottom: 50px;
    background-image: url("../img/services/slider-tablet.jpg");
  }

  @include mobile-width-only {
    position: static;
    width: 290px;
    height: 290px;
    margin-bottom: 45px;
    background-image: url("../img/services/slider-mobile.jpg");
  }
}
.print-for-interior {
  min-height: 1060px;
  padding-top: 130px;
  background-color: #fff;
  background-image: url("../img/services/sofa-with-flower-desktop.png");
  background-position: 16% 137px;
  background-repeat: no-repeat;

  @include tablet-width-only {
    padding-top: 60px;
    padding-bottom: 90px;
    background-image: none;
    min-height: auto;
  }

  @include mobile-width-only {
    min-height: auto;
    padding-top: 70px;
    background-image: none;
  }
}
.print-for-interior .container {
  background-repeat: no-repeat;

  @include tablet-width-only {
    min-height: 690px;
    padding-bottom: 90px;
    background-image: url("../img/services/sofa-with-flower-tablet.png");
    background-position: 100% 57px;
  }

  @include mobile-width-only {
    min-height: 700px;
    background-image: url("../img/services/sofa-with-flower-mobile.png");
    background-position: 40px 300px;
  }
}
.print-for-interior__inner {
  width: 48.684%;
  margin-left: auto;
  font-size: 14px;
  color: #5e606a;

  @include tablet-width-only {
    width: 76.111%;
    margin-left: 0;
  }

  @include mobile-width-only {
    width: auto;
  }
}
.print-for-interior__title {
  position: relative;
  margin-bottom: 50px;
  z-index: 1;

  &:after {
    content: '2';
    color: #fff;
  }

  @include tablet-width-only {
    width: 470px;
    margin-bottom: 65px;
  }
}
.print-for-interior__description {
  margin-bottom: 60px;

  @include tablet-width-only {
    margin-bottom: 50px;
  }

  @include mobile-width-only {
    margin-bottom: 45px;
    line-height: 24px;
  }
}
.print-for-interior__button {
  @include mobile-width-only {
    width: 100%;
    font-size: 16px;
  }
}
.operational-printing__inner {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -150px;
    right: -90px;
    width: 648px;
    height: 544px;
    background-image: url(../img/services/operational-printing-background-desktop.png);

    @include tablet-width-only {
      top: 400px;
      right: -32px;
      width: 364px;
      height: 381px;
      background-image: url(../img/services/operational-printing-background-tablet.png);
    }

    @include mobile-width-only {
      top: 610px;
      right: 50%;
      transform: translateX(50%);
      width: 304px;
      height: 255px;
      background-image: url(../img/services/operational-printing-background-mobile.png);
    }
  }
}
.operational-printing {
  position: relative;
  padding-top: 140px;
  padding-bottom: 155px;
  background-color: #faf8fb;

  @include tablet-width-only {
    max-width: 780px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 110px;
  }

  @include mobile-width-only {
    padding-top: 65px;
    padding-bottom: 60px;
  }
}
.title-decor-number {
  &:after {
    position: absolute;
    top: -90px;
    left: -80px;
    font-family: $muller-heavy;
    font-size: 200px;
    text-shadow: 0 0 20px rgba(81, 8, 86, 0.08);
    z-index: -1;

    @include mobile-tablet-width-only {
      left: 30px;
    }
  }
}
.operational-printing__title {
  position: relative;
  max-width: 440px;
  margin-bottom: 50px;
  z-index: 1;

  &:after {
    content: '3';
    color: #faf8fb;
  }
}
.operational-printing__description {
  max-width: 555px;
  font-size: 14px;
  line-height: 24px;
  color: #5e606a;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @include tablet-width-only {
    max-width: 640px;
  }
}
.application-for-consultation {
  margin-top: 110px;
  color: #383d52;

  @include tablet-width-only {
    margin-top: 80px;
  }

  @include mobile-width-only {
    margin-top: 320px;
  }
}
.application-for-consultation__text {
  max-width: 180px;
}
.application-for-consultation__have-questions {
  display: block;
  margin-bottom: 5px;
  font-family: $open-sans-italic;
}
.application-for-consultation__message {
  display: block;
  margin-bottom: 30px;
  font-family: $open-sans-semibold;
  font-size: 20px;
}
.services .services__feedback-form {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    // right: -140px;
    right: -12%;
    bottom: -36px;
    width: 503px;
    height: 340px;
    background-image: url("../img/services/arrow-decor-desktop.png");
    background-repeat: no-repeat;

    @include tablet-width-only {
      right: -115px;
      bottom: 19px;
      width: 106px;
      height: 254px;
      background-image: url("../img/services/arrow-decor-tablet.png");
    }

    @include mobile-width-only {
      display: none;
    }
  }
}
.services__feedback-form {
  @include tablet-width-only {
    max-width: 240px;
    margin-bottom: 20px;
  }
}
.services__feedback-form-name,
.services__feedback-form-phone {
  width: 240px;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #eee;
  background-color: #faf8fb;

  &::placeholder {
    font-family: $open-sans-italic;
    font-size: 14px;
    color: #868995;
  }

  @include mobile-width-only {
    width: 100%;
  }
}
.services__feedback-form-name {
  margin-right: 40px;

  @include tablet-width-only {
    margin-right: 0;
    margin-bottom: 20px;
  }

  @include mobile-width-only {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.services__feedback-form-phone {
  @include tablet-width-only {
    margin-bottom: 35px;
  }

  @include mobile-width-only {
    margin-bottom: 35px;
  }
}
.services__feedback-form-button {
  position: relative;
  width: 190px;
  margin-left: 45px;
  margin-right: 0;

  @include tablet-width-only {
    width: 100%;
    margin: 0;
  }

  @include mobile-width-only {
    width: 100%;
    margin: 0;
  }
}
