/*
@font-face {
  font-weight: 700;
  font-family: "Besom";
  font-style: normal;
  font-display: swap;
  src: local("Besom"),
    url("../fonts/besom.woff2") format("woff2"),
    url("../fonts/besom.woff") format("woff"),
}
*/
