section.faq
  .container
    h2.faq__title.section-title 4. Частые вопросы (FAQ)
    ul.question
      li.question__item
        strong.question__title
          | Что такое макет?
        p.question__answer
          | Макет — это будущее печатное изделие в электронном
          | формате. Верстают (собирают) макет в специализированном
          | программном обеспечении. 
      li.question__item
        strong.question__title
          | У меня есть готовый макет
        p.question__answer
          | Вы можете привезти его к нам в офис на любом удобном
          | для вас носителе (диск, флешка). В присутствии вас мы
          | обработаем ваш макет и отправим его в производство.
      li.question__item
        strong.question__title
          | У меня нет макета
        p.question__answer
          | В нашем штате работают професиональные дизайнеры, которые
          | с ваших слов или в вашем присутствии сверстают макет,
          | который после утверждения также будет отправлен в печать.
      li.question__item
        strong.question__title
          | Сколько времени занимает печать?
        p.question__answer
          | В том случае если изображение готово к печати, изготовление
          | занимает около 3 часов. Также время изготовления зависит от
          | нашей загруженности.
      li.question__item
        strong.question__title
          | Я не могу приехать к вам в офис
        p.question__answer
          | Отправьте нам изображение по электронной почте, укажите
          | свой телефон. Мы свяжемся с вами для уточнения деталей.
          | Готовое изделие мы доставим вам курьером.
      li.question__item
        strong.question__title
          | Вызов курьера бесплатный?
        p.question__answer
          | В зависимости от соимости заказа, курьер может доставить
          | вам продукцию бесплатно (при соимости от 600 руб.) или от
          | 150 руб. в пределах Ярославля и до 500 руб. в пределах
          | Ярославской области.
    .request-consultation
      p.request__text
        span.request-consultation__have-questions
          | Остались вопросы? 
        span.request-consultation__message
          | Оставьте заявку на консультацию
      form.feedback-form
        input(type="text", placeholder="Имя").feedback-form__name
        input(type="text", placeholder="Телефон").feedback-form__phone
        button(type="button").feedback-form__button.order-print-button Отправить
