section.review
  h2.review__title.section-title 3. Отзывы
  .reviews-slider
    ul.review__list.swiper-wrapper
      li.review__item.swiper-slide.lazy
        p.review__message
          | Обратился в компанию АртАктив за визитками. Это
          | мой первый опыт, поэтому немного нервничал, не знал,
          | с чего начать. Остался доволен, потому что мне всё
          | объяснили, показали и сделали по высшему разряду. Советую!
        span.review__reviewer-name
          | Александров Максим, 24 года
        a(href="#").review__reviewer-social-link
          | vk.com/mr.sharp
      li.review__item.swiper-slide.lazy
        p.review__message
          | Обратился в компанию АртАктив за визитками. Это
          | мой первый опыт, поэтому немного нервничал, не знал,
          | с чего начать. Остался доволен, потому что мне всё
          | объяснили, показали и сделали по высшему разряду. Советую!
        span.review__reviewer-name
          | Александров Максим, 24 года
        a(href="#").review__reviewer-social-link
          | vk.com/mr.sharp
      li.review__item.swiper-slide.lazy
        p.review__message
          | Обратился в компанию АртАктив за визитками. Это
          | мой первый опыт, поэтому немного нервничал, не знал,
          | с чего начать. Остался доволен, потому что мне всё
          | объяснили, показали и сделали по высшему разряду. Советую!
        span.review__reviewer-name
          | Александров Максим, 24 года
        a(href="#").review__reviewer-social-link
          | vk.com/mr.sharp
    .review__navigation-buttons-wrapper
      button(type="button").review__navigation-button-prev
      button(type="button").review__navigation-button-next
