section.review#review
  h2.review__title.section-title 3. Отзывы
  .reviews-slider
    ul.review__list.swiper-wrapper
      li.review__item.review__item--alexandrov.swiper-slide
        p.review__message
          | Обратился в компанию АртАктив за визитками. Это
          | мой первый опыт, поэтому немного нервничал, не знал,
          | с чего начать. Остался доволен, потому что мне всё
          | объяснили, показали и сделали по высшему разряду. Советую!
        span.review__reviewer-name
          | Александров Максим, 24 года
        a(href="#").review__reviewer-social-link
          | vk.com/mr.sharp
      li.review__item.review__item--egorov.swiper-slide
        p.review__message
          | Обратился в компанию АртАктив за визитками. Это
          | мой первый опыт, поэтому немного нервничал, не знал,
          | с чего начать. Остался доволен, потому что мне всё
          | объяснили, показали и сделали по высшему разряду. Советую!
        span.review__reviewer-name
          | Егоров Игорь, 27 лет 
        a(href="#").review__reviewer-social-link
          | vk.com/egorov-igor
      li.review__item.review__item--kozlova.swiper-slide
        p.review__message
          | Обратился в компанию АртАктив за визитками. Это
          | мой первый опыт, поэтому немного нервничал, не знал,
          | с чего начать. Остался доволен, потому что мне всё
          | объяснили, показали и сделали по высшему разряду. Советую!
        span.review__reviewer-name
          | Козлова Мила, 31 год
        a(href="#").review__reviewer-social-link
          | vk.com/mila
      li.review__item.review__item--polnikova.swiper-slide
        p.review__message
          | Обратился в компанию АртАктив за визитками. Это
          | мой первый опыт, поэтому немного нервничал, не знал,
          | с чего начать. Остался доволен, потому что мне всё
          | объяснили, показали и сделали по высшему разряду. Советую!
        span.review__reviewer-name
          | Полникова Елена, 29 года
        a(href="#").review__reviewer-social-link
          | vk.com/elena
    .review__navigation-buttons-wrapper
      button(type="button").review__navigation-button-prev
      button(type="button").review__navigation-button-next
