.page-footer {
  font-size: 13px;
  background-color: #65269d;
  color: #b495cf;
}
.page-footer .container {
  display: flex;
  min-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  justify-content: space-between;

  @include tablet-width-only {
    min-height: 60px;
  }

  @include mobile-width-only {
    min-height: 160px;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 45px;
    padding-bottom: 50px;
  }
}
.page-footer__privacy-policy {
  text-decoration: underline;

  @include mobile-width-only {
    margin-bottom: 30px;
    order: 1;
  }
}
.page-footer__company-name {
  @include mobile-width-only {
    order: 2;
  }
}
.page-footer__designer-name {
  @include mobile-tablet-width-only {
    display: none;
  }
}
