section.about-us.background-middle-line#about-us
  .container.background-line
    .about-us__description-wrapper
      h2.about-us__title.section-title
        | 1. О нас
      p.about-us__subtitle.section-subtitle
        strong
          | Полный спектр услуг — от дизайна до печати
      p.about-us__description
        | К вашим услугам мы предлагаем полный спектр работ, начиная
        | от печати открыток, чертежей, баннеров, растяжек, создания
        | буклетов и эксклюзивных календарей, и заканчивая
        | постпечатной обработкой.
      p.about-us__description
        | В копицентре не просто предоставляют услуги печати:
        | мы ориентируемся на комплексное обслуживание. Все услуги,
        | будь то оперативная цифровая печать открыток или разработка
        | серии календарей, Вы можете получить в одном месте,
        | воспользовавшись сопутствующими услугами копицентра. 
      p.about-us__description
        | При этом работа выполняется в максимально сжатые сроки
        | и не в ущерб качеству конечного результата, которое
        | неизменно остается на высоте.
    .about-us__services-wrapper
      ul.about-us__service-list.background-middle-line
        li.about-us__service-item.about-us__service-item--ebook.lazy
          | Приём и детальное обсуждение заказа
        li.about-us__service-item.about-us__service-item--tablet.lazy
          | Создание и согласование дизайн-макета
        li.about-us__service-item.about-us__service-item--xxl.lazy
          | Печать и постпечатная обработка изделий любых размеров
        li.about-us__service-item.about-us__service-item--car.lazy
          | Доставка готовой продукции
