footer.page-footer
  .container
    p.page-footer__company-name ООО «АртАктив», 2017 
    p.page-footer__privacy-policy Политика конфиденциальноси
    p.page-footer__designer-name Designed by Sergey Strogiy
