extends ../blocks/layout/layout.pug

block title
  title ArtActive. Полиграфия. 

block stylesheetAndScripts
  link(
    rel="stylesheet"
    href="css/index.css"
  )

block content
  include ../blocks/page-header/page-header.pug
  main
    include ../blocks/about-us/about-us.pug
    include ../blocks/services/services.pug
    include ../blocks/reviews/reviews.pug
    include ../blocks/faq/faq.pug
    include ../blocks/contacts/contacts.pug
  include ../blocks/page-footer/page-footer.pug
  include ../blocks/feedback-form/feedback-form.pug
