section.contacts#contacts
  .map-wrapper.lazy
  .contacts__inner
    .contacts__wrapper
      h2.contacts__title.section-title 5. Контакты 
      p.contacts__address г. Ярославль, проспект Октября, 88
      p.contacts__mail art-aktiv.76@mail.ru
      a(href="tel:+79201488131").contacts__phone +7 (920) 148 81 31
      button(type="button", aria-label="hidden").contacts__visibility-toggle Скрыть\показать
