section.contacts#contacts
  .map-wrapper
    iframe(
      src="https://yandex.ru/map-widget/v1/-/CKq7ZNjQ"
      frameborder="0"
      allowfullscreen="true"
      )
  .container
    .contacts__wrapper
      h2.contacts__title.section-title 5. Контакты 
      p.contacts__address г. Ярославль, проспект Октября, 88
      p.contacts__mail art-aktiv.76@mail.ru
      a(href="tel:+79201488131").contacts__phone +7 (920) 148 81 31
