.feedback-form
  .feedback-form__inner
    span.feedback-form__title Есть вопросы?
    span.feedback-form__subtitle Закажите звонок
    form(action="#")
      input(type="text", placeholder="Имя", name="name")
      input(type="text", placeholder="Телефон", name="phone")
      button(type="submit") Отправить
    button.feedback-form__close-button X
