header.page-header.lazy
  .container
    .page-header__top
      a(href="#").logo Artactive
      button(type="button" aria-label="Открыть меню").menu-toggle
      .page-header__menu-wrapper
        nav.main-nav
          ul.main-nav__list
            li.main-nav__item
              a(href="#about-us").main-nav__link О нас
            li.main-nav__item
              a(href="#services").main-nav__link Услуги
            li.main-nav__item
              a(href="#review").main-nav__link Отзывы
            li.main-nav__item
              a(href="#faq").main-nav__link FAQ
            li.main-nav__item
              a(href="#contacts").main-nav__link Контакты
        .phone-wrapper
          a(href="tel:+79201488131").phone +7 (920) 148 81 31
          button(type="button").request-call-button.open-feedback-form-js Заказать звонок
    .page-header__message
      h2.message__title Размер не&nbsp;имеет значения!
      p.message__subtitle
        | Оперативная полиграфия и&nbsp;широкоформатная печать
        | любого размера 
      .order-print-wrapper
        button(type="button").order-print-button.open-feedback-form-js Заказать печать
        p.delivery-information
          | с доставкой по Ярославлю и&nbsp;Ярославской области
