section.services
  h2.services__title.section-title 2. Услуги
  ul.services__list
    li.services__item.services__large-format-printing
      .container
        h3.large-format-printing__title.section-subtitle
          | Широкоформатная печать баннеров, растяжек, афиш
        ul.large-format-printing__list
          li.large-format-printing__item
            | подготовка макетов к печати, дизайн рекламных баннеров
          li.large-format-printing__item
            | срочная печать за 3 часа
          li.large-format-printing__item
            | проварка карманов и сварка нескольких изображений
          li.large-format-printing__item
            | пробивка люверсов и вварка монтажных тросов
          li.large-format-printing__item
            | изготовление цветопробы
          li.large-format-printing__item
            | доставка баннеров
        .slider-large-format-printing
        .request-consultation
          p.request__text
            span.request-consultation__have-questions
              | Есть вопросы?
            span.request-consultation__message
              | Закажите консультацию
          button(type="button").order-print-button.request-consultationon__button Заказать
    li.services__item.services__print-for-interior
      .container
    li.services__item.services__operational-printing
      .container
